{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block contenu %}
    <br><h1>Liste des formations</h1><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.intitule }}</td>
                <td>{{ formation.adresse }}</td>
                <td>{{ formation.telephone }}</td>
                <td>{{ formation.mail }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}">Consulter</a><br>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}">Editer</a><br>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><a href="{{ path('formation_new') }}">Ajouter une formation</a><br>
{% endblock %}
