{%extends "base.html.twig"%}

  {% block contenu %}
      <p></p>
      {% if action == "ajouter" %}
        <h2 style='color:black'>Entrez des données d'une entreprise </h2>
      {% else %}
        <h2 style='color:black'>Modifier des données </h2>
      {% endif %}
      <p></p>
      <div>
        {{ form_start(vueFormulaire, {'attr':{'novalidate':'novalidate'}}) }}
      </div>
            {{ form_row(vueFormulaire.intitule, {'label' : 'Nom', 'attr' : {'placeholder' : "TRH Corporation"}}) }}
        <p></p>

            {{ form_row(vueFormulaire.adresse, {'label' : 'Adresse', 'attr' : {'placeholder' : "1 rue des pommiers 64600 Anglet"}}) }}
        <p></p>

            {{ form_row(vueFormulaire.activite, {'label' : 'Activité', 'attr' : {'placeholder' : "Informatique"}}) }}
        <p></p>

            {{ form_row(vueFormulaire.URL, {'label' : 'Lien vers une image d\'entreprise', 'attr' : {'placeholder' : "http://siteweb.fr/logo.pdf"}}) }}
        <p></p>
        <button type="submit" class="btn">Enregistrer</button>
      {{ form_end(vueFormulaire) }}

  {% endblock %}
