{%extends "base.html.twig"%}

  {% block contenu %}


    <div class="row">
      <div class="col-12">
          <br>
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Appliquer un filtre
          </div>
          <ul class="list-group list-group-flush">
            <a href=""><li class="list-group-item"><i class="icon-list-bullet"></i>Tous les stages</li></a>
            <a href="{{ path('pro_stage_entreprise')}}"><li class="list-group-item"><i class="icon-home">Par entreprise</i></li></a>
            <a href="{{ path('pro_stage_formation')}}"><li class="list-group-item"><i class="icon-book"></i>Par formation</li></a>
          </ul>
        </div>
      </div>
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            Stages actuellement proposés
          </div>
          {% set break = false %}
          <ul class="list-group list-group-flush">
            {% for stageCourant in stages  %}
              <li class="list-group-item">
                <a href="{{ path('pro_stage_stages',{id:stageCourant.id})}}">
                  {{stageCourant.initule}} - {{stageCourant.entreprise.intitule}}
                </a>
              </li>
              {% if loop.index == 3 %}
                  {% set break = true %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>






<p>
</p>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
  {% endblock %}
